<footer>
    <div class="contact-us">
        <a target="_blank" href="https://www.facebook.com/scint.tw/"><i class="fab fa-facebook-square"></i></a>
        <a target="_blank" href="https://www.instagram.com/scint.tw/"><i class="fa-brands fa-instagram"></i></a>
        <a target="_blank" href="https://discord.scint.org/"><i class="fab fa-discord"></i></a>
        <a target="_blank" href="mailto:contact@scint.org"><i class="fas fa-envelope"></i></a>
        <a target="_blank" href="https://github.com/official-scint"><i class="fa-brands fa-github"></i></a>
    </div>
    <p class="copyright">© 2023 SCINT. All rights reserved.</p>
</footer>