<nav class="navbar">
  <ul class="navbar-desktop">
      <button class="navbar-item navbar-toggle" onclick="toggleNavbar()">
        <i class="fa-solid fa-bars"></i>
      </button>
      <li class="navbar-item navbar-link"><a href="#about-us">關於我們</a></li>
      <li class="navbar-item navbar-link"><a href="#services">目前服務</a></li>
      <li class="navbar-item navbar-link"><a href="#activity">近期活動</a></li>
      <li class="navbar-item navbar-link"><a href="#plans">近期計畫</a></li>
      <li class="navbar-item navbar-link"><a href="#clubs">合作社團</a></li>
      <li class="navbar-item navbar-link"><a href="#sponsors">合作單位</a></li>
      <a
        target="_blank"
        class="navbar-item discord-button"
        href="https://discord.gg/7sgwT3a77Z"
      >
        <i class="fa-brands fa-discord"></i><span>Discord</span>
      </a>
  </ul>
  <ul class="navbar-mobile">
    <li class="navbar-item navbar-link"><a href="#about-us">關於我們</a></li>
    <li class="navbar-item navbar-link"><a href="#services">目前服務</a></li>
    <li class="navbar-item navbar-link"><a href="#activity">近期活動</a></li>
    <li class="navbar-item navbar-link"><a href="#plans">近期計畫</a></li>
    <li class="navbar-item navbar-link"><a href="#clubs">合作社團</a></li>
    <li class="navbar-item navbar-link"><a href="#sponsors">合作單位</a></li>
  </ul>
</nav>
