
.container {
    padding-top: 5rem;
    max-width: 60%;
    margin: 0 auto;
}

@media (max-width: 1300px) {
    .container {
        max-width: 70%;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 90%;
    }
}