footer {
    background-color: var(--bg-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    padding-bottom: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.contact-us {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}

.contact-us > a {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--font-color);
    background-color: var(--bg-primary-opacity-30);
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms;
}

.contact-us > a:hover {
    transform: scale(1.1);
}