@import "./container.css";
@import "./root.css";
@import "./title.css";
@import "./scrollbar.css";
@import "./utils.css";
@import "./navbar.css";
@import "./footer.css";
@import "./button.css";

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: overlay;
    font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei", STXihei, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #e0e2e9;
    min-height: 100vh;
    position: relative;
    padding-bottom: 7rem;
  }