.events-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    gap: 2rem;
}

.events-container:empty::after {
    content: "近期沒有即將舉行的活動 TAT";
    color: #e0e2e9;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #0E1133;
    transition: 200ms;
}

.event-card {
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    background-color: #0E1133;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    transition: 200ms;
}

.event-card:hover {
    background-color: var(--bg-secondary-hover);
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.2);
}

.event-card-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.event-image {
    height: 10rem;
    object-fit: cover;
    border-radius: 1rem;
}

.event-card-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.event-title {
    flex: 1;
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
}

.event-card pre {
    margin: 0;
}

.event-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
    width: 100%;
}

.event-button {
    flex: 1;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #2b2f55;
    color: #e0e2e9;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    transition: 200ms;
}

.event-button {
    text-align: center;
}

.event-button:hover {
    background-color: #3c3f6d;
}

.event-details {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1rem;
}

@media (max-width: 1050px) {
    .events-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .event-card {
        flex-direction: column;
        width: 100%;
    }

    .event-card-left {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .event-card-right {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .event-title {
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .event-buttons {
        flex-direction: row;
        width: 100%;
    }

    .event-button {
        flex: 1;
    }

    .event-details {
        flex-direction: column;
        gap: 1rem;
    }

    .event-image {
        width: 100%;
        aspect-ratio: 3 / 1;
    }
}