.temmie {
    position: fixed;
    right: 0;
    pointer-events: none;
}

.magic-animation {
    animation: rainbow-color 1s infinite !important;
    opacity: 1 !important;
    user-select: none;
}

@keyframes rainbow-color {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}